.flex__paragraph {
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 163%;
text-align: center;
color: black;
max-width: auto;
}


@media (max-width: 900px) {
    .flex__paragraph  {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    .flex__paragraph  {
        font-size: 12px;
    }
}

@media (max-width: 659px) {
    .flex__paragraph  {
        font-size: 10px;
        margin: 0 0 10px 0;
    }
}