.grib__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 50px;
    line-height: 106%;
    text-align: center;
    color: black;
    margin: 0;
    padding: 0 30px 30px 0;
    grid-area: title;
}


@media (max-width: 900px) {
    .pgrib__title {
        max-width: 440px;
        margin-left: 0;
        padding: 0 0 20px 0;
    }
    }
    
    @media (max-width: 800px) {
    .grib__title {
        max-width: 340px;
        font-size: 35px;
        line-height: 110%;
        padding: 0 0 15px 0;
    }
    }
    
    @media (max-width: 500px) {
    .grib__title {
        max-width: 288px;
        font-size: 28px;
        line-height: 109%;
        padding: 0 0 10px 0;
    }
    }
    