.flexy {
    display: flex;
    flex-direction: row;
    margin: 0 10px 0 10px;
    justify-content: center;
    max-width: 900px;
    min-width: auto;
}

@media (max-width: 500px) {
    .flexy  {
        margin: 0;
    }
}

@media (max-width: 400px) {
    .flexy  {
        flex-direction: column;
        align-items: center;

    }
}

