.flex__title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 106%;
    text-align: center;
    color: black;
}

@media (max-width: 659px) {
    .flex__title {
        font-size: 18px;
        margin: 10px 0 10px 0;
    }
}