.flex__image {
    max-width: 200px;
    min-height: auto;
}

@media (max-width: 659px) {
    .flex__image  {
        max-width: 100px;
        margin: 0 10px 0 10px;
    }
}

@media (max-width: 500px) {
    .flex__image  {
        max-width: 80px;
    }
}